[submodule "libs/ActionBarSherlock"]
	path = libs/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs/ViewPagerIndicator"]
	path = libs/ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "libs/Java-API"]
	path = libs/Java-API
	url = https://github.com/florianmski/coderwall-java.git
[submodule "libs/retrofit"]
	path = libs/retrofit
	url = https://github.com/square/retrofit.git
